<section class="dp-section-about-intro">
	<div class="row">
		<div class="large-3 large-offset-1 hide-for-small-only">
			<h2 class="dp-title">
				<span class="dp-title__color">Fashion</span> <br> Photographer
			</h2>
		</div>
		<div class="small-12 hide-for-large">
			<h2 class="dp-title-small">
				About
			</h2>
			<h2 class="dp-title-small dp-title-small__color">
				About
			</h2>
		</div>
		<div class="large-5 small-12 column large-offset-1">
			<div class="dp-photographer-img">
				<img src="{{root}}assets/img/about-intro-img.jpeg">
			</div>
			
			<div class="dp-description">
				<p>
					Hi, I'm Lilya. Photographer, programmer, and more. 
					As a child, everyone dreamed of becoming an astronaut, a doctor, 
					a police officer, a model, and many other unique personalities, 
					not like everyone else. So I dreamed of becoming a photographer 
					since childhood! I soon learned about the author's photography 
					courses, which I went to without hesitation without sparing money, 
					effort and time. It was the courses that turned photography into my s
					trange hobby, or rather into life!
				</p>
				<p>
					I think you, like me, know very well that all beautiful moments are fleeting: <br>
					
						-meeting with a loved one whom you have not seen for a long time;<br>
					
						-the long-awaited birthday present;<br>
					
						-walk with dear friends;<br>
					
						-and many other moments ...<br>
				</p>
				<p>
					You will never forget such moments, but sometimes they are difficult to remember in detail.
				</p>
				<p>
					I know you're here for a purpose - because you believe (as I do) 
					that photography is valuable. It can give depth and significance to life. 
					Not only today, but years later. At some point you will want to get photos 
					that sincerely convey the pleasure and love that permeated the past. 
					Photos that you can show to your grandchildren, and the last - to your grandchildren.
				</p>
				<p>
					You would not want such photos to be created by a person who simply 
					"takes pictures". You want to see the present in all its glory, 
					to capture all the beauty in the current moment. Because tomorrow everything 
					will be different.
				</p>
				<p>
					The future will bring changes, a new stage will begin, a different story. 
					And the "present" will become "the past", as "today" will turn into "yesterday", 
					"last week", "last month", "last year".
				</p>
				<p>
					The future will bring changes, a new stage will begin, a different story. 
					And the "present" will become "the past", as "today" will turn into "yesterday",
					"last week", "last month", "last year".
				</p>
				<p>
					One of the most important things I can do for you is to awaken in you laughter, 
					a smile, to help you remember the same emotions that you wanted to capture forever 
					in a photo.
				</p>
				<p>
					Through the prism of my passion for photography, 
					through the lens of my camera, I am ready to show you what you are. 
					You will have precious moments of your life that you can share with the whole world. 
				</p>
			</div>
		</div>
		<div class="large-5 large-offset-1 hide-for-small-only">
			<h1 class="dp-name">
				Lilya <br>
				Kunitskaya
			</h1>
		</div>
	</div>
</section>
<!-- /.vp-section-about-intro -->