<section class="dp-section-contact">
	<div class="row">
		<div class="large-11 small-12 column large-offset-1">
			<h1 class="dp-title">
				Let’s make something great! 
				Reach out <a href="mailto:vlad.proko@icloud.com" class="dp-mail">lilya.proko@icloud.com</a> for WONDERFUL collaboration!
			</h1>
		</div>
		<div class="large-4 column large-offset-1">
			<p class="dp-description">
				Leave me a massage
			</p>
		</div>
		
			<form action="#" class="dp-contact-form">
				<div class="row">
					<div class="large-5 small-12 large-offset-1 column">
						<div class="dp-contact-input">
							<label for="name">NAME</label>
							<input type="text" id="name" placeholder="Enter your name">
						</div>
					</div>
					<div class="large-5 small-12 column">
						<div class="dp-contact-input">
							<label for="phone">PHONE NUMBER</label>
							<input type="text" id="phone" placeholder="+380">
						</div>
					</div>
					<div class="large-5 small-12 large-offset-1 column">
						<div class="dp-contact-input">
							<label for="mail">E-MAIL</label>
							<input type="text" id="mail" placeholder="Enter your name e-mail">
						</div>
					</div>
					<div class="large-10 small-12 large-offset-1 column">
						<div class="dp-textarea">
							<label for="textarea">YOUR MASSAGE</label>
							<textarea type="text" id="textarea" placeholder="Describe your problem"></textarea>
						</div>
					</div>
					<div class="large-10 small-12 large-offset-1 column">
						<div class="dp-contact">
							<div class="dp-call">
								<input type="checkbox" name="call" id="call">
								<label for="call">CALL ME</label>
							</div>
	
							<div class="dp-send">
								<button type="submit" class="dp-button__send">
									Send
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		
	</div>
	<div class="dp-about hide-for-small-only">
		<p>
			I know you're here for a purpose - because you believe 
			(as I do) that photography is valuable. It can give depth 
			and significance to life. Not only today, but years later. 
			At some point you will want to get photos that sincerely 
			convey the pleasure and love that permeated the past. 
			Photos that you can show to your grandchildren, and the last - 
			to your grandchildren.
		</p>
		<img src="{{root}}assets/img/section-contact-img.JPG" alt="" class="dp-img-description">
	</div>
</section>
<!-- /.vp-section-contact -->