<section class="dp-section-about">
	<h2 class="dp-title hide-for-large">
		About
	</h2>
	<img src="{{root}}assets/img/index-about.jpg" class="dp-img-about">
	<div class="dp-description">
		<p>
			I know you're here for a purpose - because you believe (as I do) 
			that photography is valuable. It can give depth and significance to life.
			Not only today, but years later. At some point you will want to get photos that 
			sincerely convey the pleasure and love that permeated the past. Photos that you can 
			show to your grandchildren, and the last - to your grandchildren.
		</p>
	</div>
</section>
<!-- /.vp-section-about -->