<section class="dp-section-intro" id="section-intro">
	<div class="row">
		<div class="large-6">
			<h1 class="dp-title">
				Destruction’s Fashion Photography
			</h1>
		</div>

		<img src="{{root}}assets/img/intro-bg.jpg" class="dp-intro-img">

		<div class="large-4 large-offset-2 hide-for-small-only">
			<div class="dp-connect">
				<div class="dp-button-more">
					<a href="#dp-section-gallery">
						order a photo shoot
					</a>
				</div>
				<p class="dp-description">
					One of the most important things 
					I can do for you is to awaken in you laughter, 
					a smile, to help you remember the same emotions 
					that you wanted to capture forever in a photo.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- /.vp-section-intro -->