<section class="dp-section-portfolio" id="dp-section-gallery">
	<div class="row">
		<div class="small-12">
			<h2 class="dp-title hide-for-large">
				Portfolio
			</h2>
		</div>
		
		<div class="large-4 small-12">
			<div class="dp-img dp-img__decor">
				<img src="{{root}}assets/img/minimal-01.jpg" class="dp-img-size-small">
				<div class="dp-info">
					<p class="dp-number">
						01/
					</p>
					<p class="dp-seria-name">
						Minimal
					</p>
				</div>
			</div>
		</div>
		<div class="large-5 large-offset-2 hide-for-small-only">
			<h3 class="dp-description">
				We develop and manage models and talent who bring the world’s story
			</h3>
		</div>
		<div class="large-6 small-12 large-offset-6">
			<div class="dp-img--big dp-img--big__up">
				<img src="{{root}}assets/img/minimal-02.jpg" class="dp-img-size-big">
				<div class="dp-info">
					<p class="dp-model-name">
						Lola <br>
						Montez
					</p>
					<p class="dp-date">
						July, 2020
					</p>
					<p class="dp-number">
						02/
					</p>
				</div>
			</div>
		</div>
		<div class="large-4 small-12">
			<div class="dp-img">
				<img src="{{root}}assets/img/minimal-03.jpg" class="dp-img-size-small">
				<div class="dp-info">
					<p class="dp-number">
						03/
					</p>
					<p class="dp-seria-name">
						Minimal
					</p>
				</div>
			</div>
		</div>
		<div class="large-6 small-12 large-offset-2">
			<div class="dp-img--big">
				<img src="{{root}}assets/img/minimal-04.jpg" class="dp-img-size-big">
				<div class="dp-info">
					<p class="dp-model-name">
						Ann <br>
						Mary
					</p>
					<p class="dp-date">
						July, 2020
					</p>
					<p class="dp-number">
						04/
					</p>
				</div>
			</div>
		</div>
		<div class="large-12 small-12">
			<div class="dp-button">
				<a href="gallery.html" class="dp-button_see-phohto">
					see all photos
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /.vp-section-gallery -->