<section class="dp-section-gallery">
	<div class="row">
		<div class="large-4 small-12">
			<div class="dp-img dp-img__decor">
				<img src="{{root}}assets/img/minimal-01.jpg" class="dp-img-size-small">
				<div class="dp-info">
					<p class="dp-number">
						01/
					</p>
					<p class="dp-seria-name">
						Minimal
					</p>
				</div>
			</div>
		</div>
		<div class="large-5 small-12 large-offset-2">
			<h3 class="dp-title">
				We develop and manage models and talent who bring the world’s story
			</h3>
		</div>
		<div class="large-6 small-12 large-offset-6">
			<div class="dp-img--big dp-img__up dp-img--big-decor">
				<img src="{{root}}assets/img/minimal-02.jpg" class="dp-img-size-big">
				<div class="dp-info">
					<p class="dp-model-name">
						Lola <br>
						Montez
					</p>
					<p class="dp-date">
						July, 2020
					</p>
					<p class="dp-number">
						02/
					</p>
				</div>
			</div>
		</div>
		<div class="large-4 small-12">
			<div class="dp-img dp-img__up">
				<img src="{{root}}assets/img/minimal-03.jpg" class="dp-img-size-small">
				<div class="dp-info">
					<p class="dp-number">
						03/
					</p>
					<p class="dp-seria-name">
						Red
					</p>
				</div>
			</div>
		</div>
		<div class="large-6 small-12 large-offset-2">
			<div class="dp-img--big dp-img__up">
				<img src="{{root}}assets/img/minimal-04.jpg" class="dp-img-size-big">
				<div class="dp-info">
					<p class="dp-model-name">
						Ann <br>
						Mary
					</p>
					<p class="dp-date">
						July, 2020
					</p>
					<p class="dp-number">
						04/
					</p>
				</div>
			</div>
		</div>

		<div class="large-4 small-12 ">
			<div class="dp-img dp-img__up dp-img__decor">
				<img src="{{root}}assets/img/minimal-05.jpg" class="dp-img-size-small">
				<div class="dp-info">
					<p class="dp-number">
						03/
					</p>
					<p class="dp-seria-name">
						Red
					</p>
				</div>
			</div>
		</div>
		<div class="large-6 small-12 large-offset-2">
			<div class="dp-img--big dp-img__up">
				<img src="{{root}}assets/img/minimal-06.jpg" class="dp-img-size-big">
				<div class="dp-info">
					<p class="dp-model-name">
						Ann <br>
						Mary
					</p>
					<p class="dp-date">
						July, 2020
					</p>
					<p class="dp-number">
						04/
					</p>
				</div>
			</div>
		</div>

		<div class="large-4 small-12">
			<div class="dp-img dp-img--last">
				<img src="{{root}}assets/img/minimal-07.jpg" class="dp-img-size-small">
				<div class="dp-info">
					<p class="dp-number">
						03/
					</p>
					<p class="dp-seria-name">
						Red
					</p>
				</div>
			</div>
		</div>
	</div>
</section>