<section class="dp-section-price-price">
	<div class="row">
		<div class="large-12 small-12">
			<div class="dp-price-table">
				<div class="dp-column">
					<h3 class="dp-title">
						75$/hour
					</h3>
					<p class="dp-description">
						Silver
					</p>
					<ul class="dp-services">
						<li>-<span class="dp-red">15-20</span> photos</li>
						<li>-<span class="dp-red">1 week</span> pics retouching term</li>
						<li>-Passing photos through <span class="dp-red">Google Drive</span></li>
						<li>-<span class="dp-red">Previous</span> consultation</li>
					</ul>
				</div>

				<div class="dp-column dp-column__center">
					<h3 class="dp-title">
						125$/hour
					</h3>
					<p class="dp-description">
						Premium
					</p>
					<ul class="dp-services">
						<li>-<span class="dp-red">30-40</span> photos</li>
						<li>-<span class="dp-red">1 week</span> pics retouching term</li>
						<li>-Passing photos through Google Drive/<span class="dp-red">USB</span></li>
						<li>-<span class="dp-red">Previous</span> consultation</li>
						<li>-Publishing in <span class="dp-red">foreign</span> catalog</li>
					</ul>
				</div>

				<div class="dp-column">
					<h3 class="dp-title">
						99$/hour
					</h3>
					<p class="dp-description">
						Gold
					</p>
					<ul class="dp-services">
						<li>-<span class="dp-red">20-30</span> photos</li>
						<li>-<span class="dp-red">1 week</span> pics retouching term</li>
						<li>-Passing photos through <span class="dp-red">Google Drive</span></li>
						<li>-<span class="dp-red">Previous</span> consultation</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="large-6 large-offset-3">
			<p class="dp-subtitle">
				* Prices are for photographer services only. 
				The studio and the make-up artist are paid by the client 
				after consultation with the photographer.
			</p>
		</div>
	</div>
</section>
<!-- /.vp-section-price-price -->