<section class="dp-section-price-intro">
	<div class="row">
		<div class="large-7 large-offset-1 hide-for-small-only">
			<h1 class="dp-title">
				"Each of us has a style - you just <span class="dp-title--red">need to find</span> it."  ...
			</h1>
		</div>
		<div class="small-12 hide-for-large">
			<h2 class="dp-title-small">
				Price
			</h2>
			<h2 class="dp-title-small__color">
				Price
			</h2>
		</div>
	</div>
	<img src="{{root}}assets/img/price-img.jpeg" alt="" class="dp-price-img hide-for-small-only">
</section>